<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comnicoletangsyinfinite.httpsgithub.infinite">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PracticeActivity"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".RightHandPractice"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".SightReadingMenuActivity"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".RightHandReading"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".RightHandFeedback"
            android:label=""
            android:screenOrientation="landscape" />
        <activity android:name=".testActivity" />
        <activity
            android:name=".PianoActivity"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".PianoSheet"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LeftHandReading"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LeftHandPractice"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LeftHandFeedback"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TutorialActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".PracitceMenu"></activity>
    </application>

</manifest>